/*:root {
	--bg: #3c3836;
	--header-footer-bg: #282828;
	--light-bg: #f9f5d7;
	--fg: #ebdbb2;
}*/

:root {
	--bg: #24283b;
	--header-footer-bg: #1a1b26;
	--light-bg: #a9b1d6;
	--fg: #a9b1d6;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--header-footer-bg);
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: center;
  padding-left: 2%;
  color: var(--fg);
  position: sticky;
  top: 0;
  padding: 0px 20px 0px 20px;
}

.App-footer {
  background-color: var(--header-footer-bg);
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  color: var(--fg);
  position: sticky;
  bottom: 0;
  padding: 0px 20px 0px 20px;
}

.App-data {
	background-color: var(--bg);
	padding: 0px 20px 20px 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: 2fr 5fr 2fr 1fr;
	background-color: var(--bg);
	padding: 0px;
}
.grid-item {
	background-color: var(--light-bg);
	border: 1px solid rgba(0, 0, 0, 0.8);
	color: var(--bg);
	padding: 5px;
	font-size: 12px;
	text-align: center;
}

.credit-total-container {
	display: grid;
	grid-template-columns: 9fr 1fr;
	background-color: var(--bg);
	padding: 0px;
}

.semester-header {
	display: flex;
	justify-content: space-between;
}

.semester-header-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: var(--light-bg);
	border-radius: 4px;
}

.flex-container {
  display: flex;
  text-align: left;
  align-items: left;
  background-color: var(--bg);
  color: var(--fg);
}

.flex-child {
  flex: 1;
  background-color: var(--bg);
  margin-left: 20px;
}

.flex-child:first-child {
  margin-left: 0px;
}

h4 a {
    text-decoration:none;
    color:var(--fg);
}

.links {
	display: flex;
	flex-direction: row;
}

.link {
	margin-left: 40px;
}
.link:first-child {
	margin-left: 0px;
}

.year-header {
	display: flex;
	justify-content: space-between;
    color:var(--fg);
	padding: 0px;
	margin: 0px;
}

.year-header h3 {
	display: flex;
	justify-content: space-between;
    color:var(--fg);
	margin-bottom: 0px;
}